@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
/* Make the text float over the img  */
.caption {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.overCaption-img {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}
.overCaption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1px;
  color: #ffffff;
  transform: rotateY(100%);
  transition: transform .5s ease-out;
}
.caption:hover .overCaption {
  transform: translateY(0);
}
.overCaption-h1 {
  margin: 0;
  padding: 0 0 15px;
  transform: translate(calc(-100% - 10px));
  transition: transform .5s ease-out;
}
.caption:hover .overCaption-h1 {
  transform: translateY(0);
}
.caption::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: background .5s ease-out;
}
.caption:hover::before {
  background: rgba(0, 0, 0, .5);
}

img {
  width: 80%;
}
/* Button stuff */
button {
  padding: 1em;
  margin: .2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  transition-duration: 2s;
}
button:hover {
  background-color: cornflowerblue;
  color: ghostwhite;
  font-size: 2em;
}
